# Normalize line endings for GitHub and cross-platform consistency.
# https://docs.github.com/en/get-started/getting-started-with-git/managing-line-endings
* text=auto eol=lf
*.py text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.json text eol=lf
